﻿

#robotIcon {
    position: fixed;
    right: 10%;
    height: 40px;
    width: 10%;
    bottom: 20px;
    z-index: 90;
}
#claimdetail {
    margin-left: 30px;
}
body {
    font-family: 'Century Gothic'
}

.continuePOPIA {
    visibility:hidden;
}
#navbarImg {
    position: fixed;
    left: 0;
    height: 130px;
    width: 100%;
    bottom: 0;
}
#smalllogo {
    position: fixed;
    left: 0;
    height: 80px;
    width: 100%;
    top: 0;
    z-index:50;
}

#biglogo {
    position: absolute;
    left: 0;
    height: 400px;
    width: 100%;
    top: 0;
    z-index: 999;
}


#homeIcon {
    position: fixed;
    left:40%;
    height: 60px;
    width: 20%;
    bottom: 20px;
    z-index: 90;
}

#backIcon {
    position: absolute;
    z-index: 9;
    left: 25px;
    height: 20px;
    width: 20px;
    top: 10px;
}

input, button, a,select {
    border-radius: 10px;
    padding: 5px;
}

select {
    border:2px solid black;
}

    #signupBtn {
        background: linear-gradient(#8dc63f,#50b848,#009677);
        width: 60%;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #fff;
        border: none;
        text-align: center;
        font-weight: bold;
    }

.greenBtn {
    background: linear-gradient(#8dc63f,#50b848,#009677);
    color: #fff;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    display: none;
}
#register {
    margin-top: 420px;
}

#signup {
    background-color: #aaa;
    color:#fff;
}

input {
    width: 80%
}

.page, #messageCard {
    display: none;
}

#messageCard {
    position: fixed;
    left:0;
    z-index:99;
    width:100%;
    text-align:center;
}


    @media screen and (max-width:480px) {
        .labels {
        display:none;
    }

}



ul.progress-bar-dots {
    height: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

    ul.progress-bar-dots::after {
        content: "";
        position: absolute;
        top: 0;
        left: 5px;
        background: #999;
        width: 5px;
        height: 100vh;
    }

    ul.progress-bar-dots li {
        background: #000;
        border-radius: 100px;
        width: 15px;
        height: 25px;
        z-index: 1;
        position: relative;
    }

        ul.progress-bar-dots li.stop ~ li {
            background: #777;
        }

            ul.progress-bar-dots li.stop ~ li::after {
                height: 0;
            }

        ul.progress-bar-dots li::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 5px;
            background: #000;
            width: 5px;
            height: 100vh;
        }
        ul.progress-bar-dots li pre {
            position: absolute;
            margin-left: 20px;
        }

            ul.progress-bar-dots li pre sub {
                
                position:relative;
            }
