﻿<img id="smalllogo" src="IMG/top bar.png">
<img id="backIcon" src="IMG/back black.png" onclick="openPage('landing')">
<br />
<br />
<br />
<h3> Claim Tracking</h3>
<br />
<p>Please fill in the claim's details below:</p>
<br />
<div class="row">
    <div class="col-sm-4 labels">
        Claim number:
    </div>
    <div class="col-sm-4">
        <input id="ClaimNumber" class="w3-animate-input" placeholder="Claim number" />
    </div>
    <div class="col-sm-4">
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <br />
        <a href="#" onclick="requestClaimInfor()" class="w3-btn greenBtn">Submit</a>
    </div>
    <div class="col-sm-4">
    </div>
</div>
<br />
<img id="homeIcon" src="IMG/home icon.png" onclick="openPage('landing')">
<img id="navbarImg" src="IMG/new nav bar.jpg">