﻿<img id="smalllogo" src="IMG/top bar.png">
<img id="backIcon" src="IMG/back black.png" onclick="openPage('claimtrack')">

<br />
<br />
<br />
<h3> Claim Tracking Results</h3>

<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <br />
        <p id="claimdetail"></p>
    </div>
    <div class="col-sm-4">
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <br />
        <a href="#" onclick="openPage('claimtrack')" class="w3-btn greenBtn">Close</a>
    </div>
    <div class="col-sm-4">
    </div>
</div>
<br/>
<br/>
<br />
<br />
<br />
<img id="homeIcon" src="IMG/home icon.png">
<img id="navbarImg" src="IMG/new nav bar.jpg" onclick="openPage('landing')">