﻿
<img id="smalllogo" src="IMG/top bar.png">
<img id="backIcon" src="IMG/back black.png" onclick="openPage('landing')">
<br />
<br />
<br/>
<h3>Cover Type</h3>

<p>Please select the type you like:</p>
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <br />
        <br />
        <button class="w3-button greenBtn w3-block" onclick="openPage('quotevehicle'); hideVehicleFields();">Vehicle</button>
        <br />
        <button class="w3-button greenBtn w3-block" onclick="openPage('quotecontent')">Contents</button>
        <br />
        <button class="w3-button greenBtn w3-block" onclick="openPage('quoteitem')">Personal belongings</button>
        <br />
    </div>
    <div class="col-sm-4">
    </div>
</div>

<br />

<img id="homeIcon" src="IMG/home icon.png" onclick="openPage('landing')">
<img id="navbarImg" src="IMG/new nav bar.jpg">
