﻿<img id="smalllogo" src="IMG/top bar.png">
<img id="backIcon" src="IMG/back black.png" onclick="openPage('quotetype')">
<br />
<br />
<br />
<h3>Vehicle Quote</h3>
<br />
<p>Please fill in the vehicle's details below:</p>
<br />

<div class="row">
    <div class="col-sm-4 labels">
        Registration number:
    </div>
    <div class="col-sm-4">
        <input id="VehicleRegNumber" class="w3-animate-input" placeholder="Registration number" />
        <br /><br />
        <a href="#" id="motorSeatchButton" onclick="getVehicleData()" class="w3-btn greenBtn">Search vehicle</a>
    </div>
    <div class="col-sm-4">
    </div>
</div>

<br />

<div id="motorFields">
    <div class="row">
        <div class="col-sm-4 labels">
            Vehicle Status:
        </div>
        <div class="col-sm-4">
            <select id="VehicleStatus" style="width:80%" >
                <option value="">Please select vehicle Status </option>
                <option value="1">New </option>
                <option value="2">Second - hand</option>
                <option value="3">Built up/ Code 3</option>
                <option value="4">SAPVIN</option>
            </select>

        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-sm-4 labels">
            License Code:
        </div>
        <div class="col-sm-4">
            <select id="LicenseCode" style="width:80%">
                <option value="">Please selet license code: </option>
                <option value="B">B</option>
                <option value="BE"> BE</option>
                <option value="C"> C</option>
                <option value="C1"> C1</option>
                <option value="C1E"> C1E</option>
                <option value="CE"> CE</option>
                <option value="EB"> EB</option>
                <option value="EC"> EC</option>
                <option value="EC1"> EC1</option>
                <option value="IL">International Licence</option>
            </select>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-sm-4 labels">
            License Year:
        </div>
        <div class="col-sm-4">
            <input id="LicenseYear" class="w3-animate-input" placeholder="License Year" />
        </div>
        <div class="col-sm-4">
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-4 labels">
            Motor claims in the last 5 years?
        </div>
        <div class="col-sm-4">
            <input id="NumberOfClaimsMotor" class="w3-animate-input" placeholder="Motor claims in the last 5 years?" />
        </div>
        <div class="col-sm-4">
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-sm-4 labels">
            Cover type:
        </div>
        <div class="col-sm-4">
            <select id="CoverTypeMotor" style="width:80%">
                <option value="">Please selet cover type </option>
                <option value="COMP">Comprehensive</option>
                <option value="TPFT">Third Party Fire and Theft</option>
                <option value="TPO">Third Party only</option>
            </select>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <br />
</div>
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <br />
        <a href="#" id="motorSubmitButton" onclick="getQuote()" class="w3-btn greenBtn">Submit Quote</a>
    </div>
    <div class="col-sm-4">
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />

<img id="homeIcon" src="IMG/home icon.png" onclick="openPage('landing')">
<img id="navbarImg" src="IMG/new nav bar.jpg">