﻿<img id="smalllogo" src="IMG/top bar.png">
<img id="backIcon" src="IMG/back black.png" onclick="openPage('quotetype')">
<br />
<br />
<h3>Quote For Content</h3>

<br />
<p>Please fill in the content's details below:</p>

<br />
<div class="row">
    <div class="col-sm-4 labels">
        Contents value:
    </div>
    <div class="col-sm-4">
        <input id="SumInsuredContent" class="w3-animate-input" placeholder="Contents value" />
    </div>
    <div class="col-sm-4">
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-4 labels">
        Contents claims in the last 5 years?
    </div>
    <div class="col-sm-4">
        <input id="NumberOfClaimsContents" class="w3-animate-input" placeholder="Contents claims in the last 5 years?" />
    </div>
    <div class="col-sm-4">
    </div>
</div>

<br />



<div class="row">
    <div class="col-sm-4 labels">
    </div>
    <div class="col-sm-4">
        <br />
        <a href="#" onclick="getQuote()" class="w3-btn greenBtn">Submit Quote</a>
    </div>
    <div class="col-sm-4">
    </div>
</div>
<img id="homeIcon" src="IMG/home icon.png"  onclick="openPage('landing')">
<img id="navbarImg" src="IMG/new nav bar.jpg">