﻿<<img id="smalllogo" src="IMG/top bar.png">
<img id="backIcon" src="IMG/back black.png" onclick="openPage('quotetype')">
<br />
<br />
<h3>Quote For Personal Belongings</h3>

<br />
<p>Please fill in the item's details below:</p>

<br />
<div class="row">
    <div class="col-sm-4 labels">
        Item category:
    </div>
    <div class="col-sm-4">
        <select id="ItemCategory" style="width:80%">
            <option value="">Please select item category </option>
            <option value="AAA">General all risk and other </option>
            <option value="AAT">Pedal Cycles</option>
            <option value="AAY">Contact Lenses / Spectacles</option>
            <option value="ABC">Jewellery</option>
            <option value="ABE">Cellular Phones / Pager / Car Phones </option>
            <option value="ABJ">Photographic / Video equipment</option>
            <option value="ADD">Drones</option>TypeCode" class="w3-animate-input" placeholder="Item description" />
        </select>
    </div>
    <div class="col-sm-4">
    </div>
</div>

<br />
<div class="row">
    <div class="col-sm-4 labels">
        Sum Insured:
    </div>
    <div class="col-sm-4">
        <input id="SumInsuredItem" class="w3-animate-input" placeholder="Sum Insured" />
    </div>
    <div class="col-sm-4">
    </div>
</div>
<br />


<div class="row">
    <div class="col-sm-4 labels">
    </div>
    <div class="col-sm-4">
        <br />
        <a href="#" onclick="getQuote()" class="w3-btn greenBtn">Submit Quote</a>
    </div>
    <div class="col-sm-4">
    </div>
</div>

<img id="homeIcon" src="IMG/home icon.png" onclick="openPage('landing')">
<img id="navbarImg" src="IMG/new nav bar.jpg">
