﻿
<img id="smalllogo" src="IMG/top bar.png">
<br />
<br/>
<br />
<br />
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <br />
        <p id="helloLabel" class="w3-left-align"></p>
        <br />
        <br />
        <button class="greenBtn w3-block w3-button" onclick="openPage('quotetype')">Get Quote</button>
        <br />
        <button class="greenBtn w3-block w3-button" onclick="openPage('preinspection')">Pre Inspection</button>
        <br />
        <button class="greenBtn w3-block w3-button" onclick="openPage('claimtrack')">Track Claim</button>
    </div>
    <div class="col-sm-4">
    </div>
</div>
<img id="robotIcon" src="IMG/Chat icon.png">
<img id="homeIcon" src="IMG/home icon.png">
<img id="navbarImg" src="IMG/new nav bar.jpg">