﻿<img id="smalllogo" src="IMG/top bar.png">
<img id="backIcon" src="IMG/back black.png" onclick="openPage('quotetype')">
<br />
<br />
<a href="#" class=""><i class="fa fa-close"></i></a>
<br />
<h3> Pre Inspection</h3>
<br />
<p>Please complete a pre inspection by taking a video if your vehicle</p>
<br />
<div class="row">
    <div class="col-sm-4 labels">

    </div>
    <div class="col-sm-4">
        <div id="video"></div>
        <br />
        <button class="w3-button w3-block greenBtn">Capture a video</button>
        <br />
        <button class="w3-button w3-block greenBtn">Upload the Video</button>
    </div>
    <div class="col-sm-4">
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <br />
        <a href="#" onclick="" class="w3-btn greenBtn">Submit</a>
    </div>
    <div class="col-sm-4">
    </div>
</div>
<br />

<img id="homeIcon" src="IMG/home icon.png" onclick="openPage('landing')">
<img id="navbarImg" src="IMG/new nav bar.jpg" >