﻿

<img src="../IMG/top bar big.png" id="biglogo">

<!----div class="w3-panel w3-black" id="signup">
    <h3>Sign Up</h3>
</div-->
<p>Kindly fill out the below details:</p>
<br />
<div class="row">
    <div class="col-sm-4 labels">
        Initials:
    </div>
    <div class="col-sm-4">
        <input id="initials" class="w3-animate-input" placeholder="Initials" />
    </div>
    <div class="col-sm-4">
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-4 labels">
        Surname:
    </div>
    <div class="col-sm-4">
        <input id="surname" class="w3-animate-input" placeholder="Surname" />
    </div>
    <div class="col-sm-4">
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-4 labels">
        Id Number:
    </div>
    <div class="col-sm-4">
        <input id="idNum" class="w3-animate-input" placeholder="Id Number" />
    </div>
    <div class="col-sm-4">
    </div>
</div>

<div class="row">
    <div class="col-sm-4 labels">
    </div>
    <div class="col-sm-4 w3-left">
        <br/>
        <label><input style="width:20px;;margin-left:30px" type="checkbox" id="checkPOPIA" onclick="updatePOPIA(this.checked)">
        I allow Old Mutual Insure to use my ID to do a credit check</label>
    </div>
    <div class="col-sm-4">
    </div>
</div>

<div class="row continuePOPIA">
    <div class="col-sm-4 labels">
    </div>
    <div class="col-sm-4">
        <br /><input type="button" id="signupBtn" onclick="getUserData()" value="Continue">
    </div>
    <div class="col-sm-4">
    </div>
</div>

<br />